@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.chat-discussions {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #3498db;
  margin-bottom: 20px;
}

.conversation-list {
  padding: 0;
  list-style: none;
}

.conversation-group {
  border: 2px solid #3498db;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-list {
  padding: 0;
  list-style: none;
}

li {
  font-size: 12px;
  margin-bottom: 5px;
}
:root {
  --colorBackground: white !important;
  --colorForeground: darkslategray !important;
  --colorLink: royalblue !important;
  --colorCode: crimson !important;
}

.dark {
  --colorBackground: lightgrey !important;
  --colorForeground: lightgray !important;
  --colorLink: cornflowerblue !important;
  --colorCode: lightpink !important;
}

body,
header,
nav,
textarea {
  background-color: var(--colorBackground) !important;
  color: var(--colorForeground) !important;
}

a {
  color: var(--colorLink) !important;
}

code {
  color: var(--colorCode) !important;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox-input {
  margin: 0;
  margin-left: 90px;
}
.custom-checkbox-label {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #3498db;
}
